.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/sshindalkar.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/sshindalkar.xcuserdatad/xcschemes/xcschememanagement.plist
